<body>
<div id="registration-all-wrapper">
<header class='registration-page-header'>
  <div class='header-left'>
    Do Re: Me
  </div>

  <div class='header-right'>
    <%= link_to "Back to Top Page", root_path, class: "back-to-top" %>
  </div>

</header>

<div class="registration-main">
  <div class="registration-main-left">
   <h4 class="registration-title">New Registration</h4>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
   <%# error-message表示 %>
    <% if resource.errors.any? %>
     <div id="error_sentence">
     <h2><p style="color: red;"><%= pluralize(resource.errors.count, "error") %> prohibited this regostration from being saved:</h2>

     <ul>
       <% resource.errors.full_messages.each do |message| %>
          <li><% message %></li>
         <% end %>
     </ul>
     </div>
    <% end %>

  <div class="field">
     <%= f.label :nickname %><br/>
     <%= f.text_field :nickname, autofocus: true %>
      <% if resource.errors.include?(:nickname) %>
      <p style="color: red;"><%= resource.errors.full_messages_for(:nickname).first %>
      <% end %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      <% if resource.errors.include?(:email) %>
      <p style="color: red;"><%= resource.errors.full_messages_for(:email).first %>
      <% end %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
      <% if resource.errors.include?(:password) %>
      <p style="color: red;"><%= resource.errors.full_messages_for(:password).first %>
      <p style="color: red;"><%= resource.errors.full_messages_for(:password).second %>
      <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      <% if resource.errors.include?(:password_confirmation) %>
      <p style="color: red;"><%= resource.errors.full_messages_for(:password_confirmation).first %>
      <% end %>
  </div>

  <div class="field-radio">
    <%= f.label :gender %><br />
    <%= f.radio_button :gender, :male %> Male
    <%= f.radio_button :gender, :female %> Female
    <%= f.radio_button :gender, :others %> Others
    <%= f.radio_button :gender, :noanswer %> No answer
      <% if resource.errors.include?(:gender) %>
      <p style="color: red;"><%= resource.errors.full_messages_for(:gender).first %>
      <% end %>
      
  </div>

  <div class="field-radio">
    <%= f.label :age %><br />
    <%= f.radio_button :age, :teens %> 10's
    <%= f.radio_button :age, :twenties %> 20's
    <%= f.radio_button :age, :thirties %> 30's
    <%= f.radio_button :age, :forties %> 40's
    <%= f.radio_button :age, :more %> Others
      <% if resource.errors.include?(:age) %>
      <p style="color: red;"><%= resource.errors.full_messages_for(:age).first %>
      <% end %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>
  </div>
  
  <div class="registration-main-right">
   <%= image_tag "door.jpg", class:"door-img" %>
  </div>

 </div>
</div>



<footer>
<%= render "shared/footer" %>
</footer>

</div>
</body>
