<div class="contents row">
  <p><%= @nickname %>さんの投稿一覧</p>
  <% @poses.each do |pose| %>
    <div>
     <%= image_tag pose.image, class: "item-img" %>
      <p><%= pose.title %></p>
      <p><span class="name"><%= pose.effect.name %></span></p>
      <p><span class="name"><%= pose.intensity.name %></span></p>
    </div>
  <% end %>
</div>

<%= link_to "TOPページ", root_path %>