<body>
<div id="wrap-all">

<header class='registration-page-header'>
  <div class='header-left'>
    Do Re: Me
  </div>

  <div class='header-right'>
    <%= link_to "New Post", new_pose_path, class: "user-nav-c" %>
    <%= link_to "Back to Top Page", root_path, class: "back-to-top" %>
  </div>
</header>
<%= render "shared/background" %>


<div class="main-contents">

  <h3 class="room-title"><%= @nickname %>'s YOGA Room</h3>

  <ul class="pose-record">

       <% @poses.each do |pose| %>
       
        <li class="my-posted-item">

      <div class="my-record-img-content">
       <%= image_tag pose.image, class: "record-item-img" %>
      </div>

      <div class="my-record-detail">
             <div class="more">
              <span><%= image_tag 'arrow_top.png' %></span>
               <ul class="more_list">
                <li>
                <%= link_to 'Delete', pose_path(@poses.ids), method: :delete, data: { confirm: 'Delete this data from your room???' }%>
                </li>
               </ul>
             </div>
           <p><span class="my-record-title">Pose name : <%= pose.title %></p>
             
           <p><span class="my-record-detail">Effect : <%= pose.effect.name %></span></p>
           <p><span class="my-record-detail">Intensity : <%= pose.intensity.name %></span></p>
           <p><span class="my-record-detail">Required Time : <%= pose.minute %> min</span></p>
      </div>
        </li>

        <% end %>
  </ul>

</div>

<%= render "shared/footer" %>
</div>
</body>