<div class="contents row">
  <p><%= @nickname %>さんの投稿一覧</p>
  <% @poses.each do |pose| %>
    <div class="content_post" style="background-image: url(<%= pose.image %>);">
      <p><%= pose.title %></p>
      <span class="name"><%= pose.title %></span>
    </div>
  <% end %>
</div>

<%= link_to "TOPページ", root_path %>