<header class='index-page-header'>
 <div class='header-left'>
 Do Re: Me
 </div>

 <div class='header-right'>
   <% if user_signed_in? %>
          <div class="user_nav grid-6">
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "user-nav-b"  %>
            <%= link_to "マイページ", "/users/#{current_user.id}", class: "user-nav-b" %>
            <%= link_to "投稿する", new_pose_path, class: "user-nav-b" %>
          </div>
        <% else %>
          <div class='grid-6'>
            <%= link_to "ログイン", new_user_session_path, class: "user-nav-a" %>
            <%= link_to "新規登録", new_user_registration_path, class: "user-nav-a" %>
          </div>
        <% end %>

 </div>
</header>