<%= form_with model: pose, local: true do |f|%>
  <div class="field">
    <%= f.label :title, "ポーズの名前" %><br />
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :effect, "effect" %>
    <%= f.collection_select(:effect_id, Effect.all, :id, :name, {}, {class:"effect-select"}) %>
  </div>

  <div class="field">
    <%= f.label :minute, "Required Time (min）" %><br />
    <%= f.text_field :minute %>
  </div>

  <div class="field">
  <%= f.label :intensity, "Intensity  1 (Low) → 5 (High)" %>
  <%= f.collection_select(:intensity_id, Intensity.all, :id, :name, {}, {class:"intensity-select"}) %>
  </div>

  <div class="field">
    <%= f.label :image, "Pose Image" %><br />
    <%= f.file_field :image %>
  </div>

  <div class="actions">
    <%= f.submit "Post", class: :form__btn  %>
  </div>
<% end %>