<body>
<div id="wrap-all">
<%= render "shared/header" %>

<div class="main-content">
  <div class="main-left">
    <h3 class="main-left-title">New Posts</h3>
     <ul class="posts-wrapper">
        <% @poses.each do |pose| %>
        <li class="posted-item">

          <div class="pose-img-content">
            <%= image_tag pose.image, class: "pose__img"  %>
          </div>

          <div class="pose-detail">
           <p><span class="posted-pose-title"><%= pose.title %></p>
           <p><span class="posted-pose-detail">Effect : <%= pose.effect.name %></span></p>
           <p><span class="posted-pose-detail">Required Time : <%= pose.minute %> min</span></p>
           <p><span class="posted-pose-detail">Intensity : <%= pose.intensity.name %></span></p>

          </div>
         </li>
         <% end %>
       </ul>
  </div>

  <div class="main-right">
    <h3 class="main-right-title">Search</h3>
      <div class="search-item-select"> 
       <%= search_form_for @p, url: poses_search_path do |f| %>
        <%= f.label :title_eq, 'Pose Name :', class: "search-item-name"%>
        <%= f.collection_select :title_eq, @pose_title, :title, :title,  include_blank: 'Not Specified' %><br>
       <br>
        <%= f.label :effect_id_eq, 'Effect : ', class: "search-item-name" %>
        <%= f.collection_select :effect_id_eq, Effect.all, :id, :name,  include_blank: 'Not Specified' %><br>

        <%# <%= f.collection_check_boxes :effect_id_eq, Effect.all, :id, :name %>

       <br>
        <%= f.label :minute_lteq, 'Required Time : ', class: "search-item-name"  %>
        <%= f.collection_select :minute_lteq, @pose_minute, :minute, :minute,  include_blank: 'Not Specified' %><br>
       <br>
        <%= f.label :intensity_id_eq, 'Intensity : ', class: "search-item-name" %>
        <%= f.collection_select :intensity_id_eq, Intensity.all, :id, :name,  include_blank: 'Not Specified' %><br>
       <br>
        <%= f.submit 'Search' %>
       <% end %>
      </div>
  </div>

</div>
<%= render "shared/footer" %>
</div>
</body>

