<body>
<div id="new-post-wrapper">

<header class='registration-page-header'>
  <div class='header-left'>
    Do Re: Me
  </div>

  <div class='header-right'>
    <%= link_to "My Page", "/users/#{current_user.id}", class: "user-nav-b" %>
    <%= link_to "Back to Top Page", root_path, class: "back-to-top" %>
  </div>

</header>


<div class="main">
  <div class="inner">
    <div class="form__wrapper">
      <h2 class="page-heading"> New Post</h2>
        <%# 部分テンプレートでフォームを表示する %>
      
 <%= form_with model: @pose, local: true do |f|%>
   <%# error-message表示 %>

    <% if @pose.errors.any? %>
     <div id="error_sentence">
     <h2><p style="color: red;"><%= pluralize(@pose.errors.count, "error") %> prohibited this post from being saved:</h2>

     <ul>
       <% @pose.errors.full_messages.each do |message| %>
          <li><% message %></li>
         <% end %>
      </ul>
      </div>
    <% end %>


  <div class="field">
    <%= f.label :title, "Pose Name" %><br />
    <%= f.text_field :title %>
     <% if @pose.errors.include?(:title) %>
       <p style="color: red;"><%= @pose.errors.full_messages_for(:title).first %>
     <% end %>
  </div>

  <div class="field">
    <%= f.label :effect, "Effect" %><br/>
    <%= f.collection_select(:effect_id, Effect.all, :id, :name, {}, {class:"effect-select"}) %>
    <% if @pose.errors.include?(:effect_id) %>
       <p style="color: red;"><%= @pose.errors.full_messages_for(:effect_id).first %>
     <% end %>
  </div>

  <div class="field">
    <%= f.label :minute, "Required Time (min）" %><br />
    <%= f.text_field :minute %>
    <% if @pose.errors.include?(:minute) %>
       <p style="color: red;"><%= @pose.errors.full_messages_for(:minute).first %>
       <p style="color: red;"><%= @pose.errors.full_messages_for(:minute).second %>
     <% end %>
  </div>

  <div class="field">
    <%= f.label :intensity, "Intensity" %><br/>
    <%= f.collection_select(:intensity_id, Intensity.all, :id, :name, {}, {class:"intensity-select"}) %>
    <% if @pose.errors.include?(:intensity_id) %>
       <p style="color: red;"><%= @pose.errors.full_messages_for(:intensity_id).first %>
     <% end %>
  </div>

  <div class="new-post-image-field">
    <%= f.label :image, "Upload Image", class: "image_input_btn"%> 
     <% if @pose.errors.include?(:image) %>
       <p style="color: red;"><%= @pose.errors.full_messages_for(:image).first %>
     <% end %>
       <div id="image-list">
       </div>
    <%= f.file_field :image, class: "default-image-form" %>
   
  </div>

  <div class="actions">
    <%= f.submit "Post", class: :form__btn  %>
  </div>
<% end %>

    </div>
  </div>
</div>



<footer>
<%= render "shared/footer" %>
</footer>

</div>
</body>