<body>
<div id="search-all-wrapper">

<header class='search-result-page-header'>
  <div class='header-left'>
    Do Re: Me
  </div>

  <div class='header-right'>
    <%= link_to "Back to Top Page", root_path, class: "back-to-top" %>
  </div>

</header>


<div class="search-result-main">
 <h4 class="search-result-title">Search Result</h4>

 <%# 検索結果の個数で条件分岐 %> 
 <% if @results.length !=0 %>
   <ul class="search-result-wrapper">
     <% @results.each do |result| %>
      <li class="found-item">
      
      <div class="found-item-img-content">
      <%= image_tag result.image, class: "search-item-img" %>
      </div>

      <div class="found-item-detail">

      <p><span class="found-item-title"><%= result.title %></p>
      Effect : <%= result.effect.name %>
      <br>
      Required Time : <%= result.minute %>  min
      <br>
      Intensity : <%= result.intensity.name %>
      <br>

      </div>

      </li>
     <% end %>
         
 <% else %>
    <div class="sorry-message">
     We are sorry!! The page you're looking for can't be found.
    </div>

         

   </ul>
 <% end %>


  <%# <%= link_to 'Back to Top Page', root_path %>

</div>
         <div class="search-pagination">
           <%= paginate @results %>
         </div>

<%= render "shared/footer" %>
</div>
</body>